*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Raleway', sans-serif;
}

header a
{
    text-decoration: none;
    color: white;
}

header
{
    background-color: black;
}

.container_header
{
    width: 1060px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid yellow;
}
.container_header h3
{
    padding: 20px;
    font-weight: 300;
}

ul
{
    display: flex;

}

.container_header > ul > li
{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px ;
    margin-left: 20px;
    list-style: none;
    font-weight: 200;
}
.text_on_green
{
    font-weight: bold;
    color: #24BA9F
}

.list_item_hover:hover ul
{

    display: block;

}

.list_item_hover_dropdown
{
    display: none;
    position: absolute;
    left: calc(1060px - 120px);
    background-color: black;
    padding: 0 10px;
    padding-top: 40px;
}

.header_link
{
    text-decoration: none;
    position: relative;
}

li ul li
{
    list-style: none;
    text-align: center;
    line-height: 25px;
    font-size: 0.8rem;
}
.section1
{
    background: linear-gradient(#FFFFFF, #c5c4c9);
    display: flex;
}
.section1_box
{
    width: 1060px;
    margin: 0 auto;
    border: 3px solid black;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
}

.section1_box_text button
{
    width: 250px;
    font-size: 16px;
    padding: 10px;
    background-color: #24BA9F;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.section1_box_text h2
{
    margin: 30px 0;
}

.section1_box_text p
{
    margin: 20px 60px;
}

.section1_box-img
{
    position: relative;
}

.V_link a
{
    text-decoration: none;
    color: #24BA9F;
    z-index: 1;
    top: 100px;
}

.V_link
{
    position: absolute;
    font-size: 50px;
    color: black;
    transform: rotate(90deg);
    bottom: 150px;
    left: 30px;
}
.section1_box_text
{
    position: relative;
}

.V_link2
{
    position: absolute;
    font-size: 50px;
    color: black;
    transform: rotate(270deg);
    bottom: 100px;
    right: 10px;

}
.V_link2 a
{
    text-decoration: none;
    color: #24BA9F;
    z-index: 1;
}
.section2
{
    width: 1060px;
    margin: 0 auto;
    border: 1px solid blue;
}

.section2
{
    display: flex;
}
.section2_box
{
    display: flex;
    justify-content: space-between;
}
.section2_box > div
{
    padding: 20px;
}
.section2_box div:last-child
{
    border: 1px solid #E8E8E8;
}
.section2_box div h4
{
    padding-bottom: 15px;
}
















