*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Raleway', sans-serif;
}

a
{
    text-decoration: none;
    color: white;
}

header
{
    background-color: black;
}

.container_header
{
    width: 1060px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid yellow;
}
.container_header h3
{
    padding: 20px;
}

ul
{
    display: flex;

}

.container_header > ul > li
{
    padding-top: 20px;
    padding-bottom: 20px ;
    margin-left: 20px;
    list-style: none;
    font-weight: 200;
}
.text_on_green
{
    font-weight: bold;
    color: #24BA9F
}

.list_item_hover:hover ul
{
    display: block;
}

.list_item_hover_dropdown
{
    display: none;
    position: absolute;
    background-color: black;
    padding: 10px;
    padding-top: 40px;

}

.header_link
{
    text-decoration: none;
    position: relative;
}

li ul li
{
    list-style: none;
    text-align: center;
    line-height: 25px;
    font-size: 0.8rem;
}
.section1
{
    background: linear-gradient(#FFFFFF, #c5c4c9);
    display: flex;
}
.section1_box
{
    width: 1060px;
    margin: 0 auto;
    border: 3px solid black;
    display: flex;
    text-align: center;
    align-items: center;
}

.section1_box_text button
{
    width: 150px;
    padding: 10px;
    background-color: #24BA9F;
    border-radius: 10px;
    margin-top: 10px;
}
.section1_box_text h2
{
    margin: 10px 0;
}

.section1_box_text p
{
    margin: 10px 0;
}























