.fourthSection{
  .mobile{
    .header{
      h4{
        width: 91%;
        margin: 1.5rem auto;
        position: relative;
        &:after{
          content: "";
          position: absolute;
          display: block;
          width: 100px;
          height: 6px;
          top: 20px;
          background-color: #27c7ab;
        }
      }
      span{
        line-height: 14px;
        font-size: 70%;
        display: block;
        width: 91%;
        margin: 0.5rem auto;
        a{
          color: #27c7ab;
        }
      }
    }
    .onlyForMobile{
      .pseudoForm{
        div {
          margin: 0.4rem auto;
          width: 90%;
          height: 35px;
          border: 1px solid #24BA9F;
          line-height: 35px;
          color: rgba(36, 186, 159, 0.7);
          padding-left: 5px;
        }
        div:nth-of-type(3){
          padding-top: 10px;
          height: 90px;
        }
      }
      .pseudoGalerry{
        .img{
          background-image: url("../images/red_chair.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: 200px;
        }
        .agree{
          display: none;
        }
        button{
          display: none;
        }

        /*.agree{
          width: 90%;
          margin: 0.5rem auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .imgAgree{
            width: 20px;
            height: 20px;
            border: 1px solid #27c7ab;
            margin-top: 0.7rem;
          }
          span{
            width: 95%;
            margin: 0.5rem 0;
            margin-left: 10px;
          }
        }
        button{
          width: 120px;
          height: 30px;
          margin: 1rem;
          margin-left: calc(50% - 60px);
          line-height: 30px;
          color: #fff;
          background-color: #24BA9F;
          border-radius: 5px;
        }*/
      }
    }
  }
  .main_width{
    display: none;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .fourthSection{
    .mobile{
      .header{
        width: 100%;
        h4{
          width: 95%;
          margin: 2rem auto;
        }
        span{
          width: 95%;
          margin: 0.5rem auto;
        }
      }
      .onlyForMobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .pseudoForm{
          width: 55%;
          margin-top: 3rem;
          div{
            margin: 1rem auto;
          }
          div:nth-of-type(3){
            margin-top: 2rem;
          }
        }
        .pseudoGalerry{
          width: 43%;
          .agree{
          width: 90%;
          margin: 0.5rem auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
            img{
              height: 170px;
            }
          .imgAgree{
            width: 20px;
            height: 20px;
            border: 1px solid #27c7ab;
            margin-top: 0.7rem;
          }
          span{
            width: 95%;
            margin: 0.5rem 0;
            margin-left: 10px;
          }
        }
        button{
          display: block;
          width: 120px;
          height: 30px;
          margin: 1rem;
          margin-left: calc(50% - 60px);
          line-height: 30px;
          color: #fff;
          background-color: #24BA9F;
          border-radius: 5px;
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 1025px) {
  .fourthSection {
    background-color: #f9f9f9;
    padding: 30px 0;
    .mobile{
      display: none;
    }
    .main_width {
      width: 1024px;
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .inline {
        display:inline-block;
        width:300px;
        padding-bottom: 20px;
        vertical-align: top;
        header{
          background-color: #f9f9f9;
        }
        .inline_text {
          display: inline-block;
          width: 228px;
          vertical-align: top;
          margin-top: 30px;
          margin-left: 15px;
          color: #aeaeae;
        }
      }
      .form {
        margin-top:50px;
        .drop_down_list {
          border:1px solid #8de0d2;
          width: 280px;
          height:38px;
          background-color: white;
          margin-top:22px;
          padding: 8px 12px;
          position: relative;
          .list_arrow {
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid #24baa0;
            display:block;
            position: absolute;
            right: 14px;
            top: 20px;
            cursor: pointer;
          }
          .list_panel {
            background-color: white;
            border: 1px solid #ccc;
            width: 288px;
            padding-left: 15px;
            padding-bottom: 10px;
            list-style: none;
            margin: 0;
            left: 0px;
            z-index: 2;
            position: absolute;
            top: 54px;
            display:none;
            li {
              margin-top:10px;
              cursor: pointer;
              color: #585858;
            }
          }
          .list_label {
            font-size: 30px;
            color: #e2e2e2;
            font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
          }

        }
        .checkbox {
          position: relative;
          padding: 30px 30px 30px 0;
          input {
            display: block;
            opacity: 0;
            height: 48px;
            position: absolute;
            width: 48px;
            cursor: pointer;
          }
          label {
            display: block;
            padding-left: 65px;
            position: relative;
            font-size: 28px;
            color: #cecece;
            line-height: 120%;
            padding-top: 10px;
            cursor: pointer;
            &:before, &:after {
              border: 1px solid #27c7ab;
              content: "";
              display: block;
              left: 0;
              height: 48px;
              position: absolute;
              width: 48px;
              top: 0;
            }
            &:after {
              background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
              border: 0;
              display: none;
            }
          }
          input:checked + label::after {
            display: block;
          }
        }
      }
      .image_part img{
        margin-top: 110px;
        margin-left: 38px;
      }
      .summary_panel {
        background-color: white;
        width:100%;
        height:195px;
        padding: 10px 0;
        margin-top: 50px;
        .panel_left {
          display: inline-block;
          width: 185px;
          vertical-align: top;
          padding-bottom:10px;
          padding-left: 5px;
          border-bottom:1px solid #e7e7e7;
          height: 135px;
          .title {
            height: 30px;
          }
          h4 {
            color: #24baa0;
            font-size: 23px;
          }
          span{
            margin-top:10px;
            font-size: 22px;
            color: #5b5a5a;
            display: block;
          }
        }
        .panel_right {
          display: inline-block;
          width: 100px;
          border-left:1px solid #e7e7e7;
          text-align: right;
          vertical-align: top;
          padding-bottom:10px;
          border-bottom:1px solid #e7e7e7;
          height: 135px;
          .title {
            height: 30px;
          }
          h4 {
            color: #24baa0;
            font-size: 23px;
          }
          span{
            margin-top:10px;
            font-size: 22px;
            color: #5b5a5a;
            display: block;
          }
        }
        .sum_label{
          display: inline-block;
          width: 185px;
          margin-top: 10px;
          font-size: 22px;
          color: #5b5a5a;
          padding-left: 5px;
        }
        .sum {
          display: inline-block;
          width: 100px;
          text-align: right;
          margin-top: 10px;
          font-size: 22px;
          color: #24baa0;
        }
      }
    }
    h3 {
      color: #575757;
      font-size: 18px;
    }
    header {
      .align_right {
        text-align: right;
      }
    }
    .green_bell {
      background-color: #24baa0;
      width: 200px;
      height: 6px;
      display: inline-block;
      margin: 5px 0 5px 0;
    }
    .green_button {
      background-color: #27c7ab;
      color: white;
      text-align:center;
      text-transform: uppercase;
      width: 200px;
      padding: 10px 30px;
      font-size: 24px;
      display: inline-block;
      font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
      margin-top: 20px;
      margin-left: 29px;
      border-radius: 8px;
      text-decoration: none;
    }
  }

  .active {
    background: url('../images/form_ok.jpg');
    width: 48px;
    height: 40px;
  }
}

